.home-page-wrapper {
    padding-top: 40px;
}

.home-page-wrapper .create-wrapper {
    width: 200px;
    margin-right: 0px;
    margin-left: auto;
}

.home-page-wrapper .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}