.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #68b35c;
    padding: 20px 40px;
}

.footer .social-wrapper {
    display: flex;
}

.footer .social-wrapper .icon-wrapper {
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    margin: 0px 30px;
    color: black;
}

.copyright {
    background-color: #569e4b;
    padding: 10px 0px;
}

.copyright p {
    font-size: 14px;
    color: white;
    text-align: center;
    margin: 0px;
}